Repository bugcrowd/vulnerability-rating-taxonomy, pull requests merged in 2019-03, with the labels that each got.

#220 Update OWASP reference URLs
  CHANGELOG.md
  mappings/remediation_advice.json
Labels: enhancement

#213 Adjust mappings organization
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  mappings/cvss_v3/cvss_v3.json
  mappings/cvss_v3/cvss_v3.schema.json
  mappings/cwe/cwe.json
  mappings/cwe/cwe.schema.json
  mappings/remediation_advice/remediation_advice.json
  mappings/remediation_advice/remediation_advice.schema.json
  tests/test_vrt.py
  tests/utils.py
  validate_vrt.py
Labels: enhancement

#225 Add Automotive Security Misconfiguration category (no mappings)
  mappings/cvss_v3/cvss_v3.json
  mappings/cwe/cwe.json
  mappings/remediation_advice/remediation_advice.json
  vulnerability-rating-taxonomy.json
Labels: taxonomy change

#228 Add checklist to pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: development

#223 add Email Hyperlink Injection
  CHANGELOG.md
  mappings/remediation_advice/remediation_advice.json
  vulnerability-rating-taxonomy.json
Labels: taxonomy change

#239 Add Indicators of Compromise category
  CHANGELOG.md
  mappings/cvss_v3/cvss_v3.json
  mappings/cwe/cwe.json
  mappings/remediation_advice/remediation_advice.json
  vulnerability-rating-taxonomy.json
Labels: taxonomy change
